.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;

  &:focus,
  &:active {
    box-shadow: none;
    border: none;
    outline: none;
  }
}

.link-button:hover,
.link-button:focus {
  text-decoration: none;
}