$mq-xsmall: 640px;
$mq-small: 768px;
$mq-med: 1024px;
$mq-large: 1440px;
$mq-xlarge: 1840px;

$white: #fff;
$gray: gray;
$gray-lightest: #ececec;
$gray-light: #ccc;
$gray-darkest: #080808;
$tomato: tomato;
